@import "normalize.css";
:root {
  --color-blanco-opaco: #ebf2fa;
  --color-plomo-oscuro: #2f3e46;
  --color-azul-claro: #427aa1;
  --color-azul-oscuro: #05668d;
  --fuente-texto: 'Raleway', 'Roboto';
}

body {
  font-size: 16px;
  font-family: var(--fuente-texto);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "header header header" "presentation presentation presentation" "skills skills skills" "portfolio portfolio portfolio" "hobbies hobbies hobbies" "contact contact contact" "footer footer footer";
  gap: 0.3125rem;
}

.header {
  grid-area: header;
}

.presentation {
  grid-area: presentation;
}

.skills {
  grid-area: skills;
}

.portfolio {
  grid-area: portfolio;
}

.hobbies {
  grid-area: hobbies;
}

.contact {
  grid-area: contact;
}

.footer {
  grid-area: footer;
}

@media screen and (max-width:48rem) {
  body {
    font-size: 0.875rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header" "presentation presentation" "skills skills" "portfolio portfolio" "hobbies hobbies" "contact" "footer footer";
  }
}