@import "../projects.css";
.card {
  /*Se tiene que dar una altura de 200px y ancho  de 450px fijos */
  height: 12.5rem;
  width: 28.125rem;
  /*margin-top y margin-bottom  de 5px para separarse de los elementos superiores e inferiores correspondientes*/
  margin: 0.9375rem 0;
  border: 0.1875rem solid var(--color-plomo-oscuro);
  /*Para el efecto 3d se necesita que el contenedor padre tenga perspective */
  perspective: 125rem;
  /* Este shorthand utiliza
  transition-property: transform que corresponde a la clase rotate-img ;
  transition-duration: Duración de un segundo;*/
  transition: transform 1s;
  /*
  La propiedad transform-style: Esta propiedad permite que el contenedor mantenga la ilusión de 3d.
  Gracias a esto podemos cambiar del contenedor de la imagen al del contenido ;
  el valor preserve-3d permite mantener el 3d
  */
  transform-style: preserve-3d;
}

.rotate-img {
  /*La imagen rotará en 180 grados en su eje y
  Se necesita un archivo js para usar el método toggle*/
  transform: rotateY(180deg);
}

.card__image-container {
  /*El contenedor de la imagen ocupa todo el ancho y alto de la card*/
  width: 100%;
  height: 100%;
  /*Usamos la propiedad backface-visibility para obtener un reflejo del contenedor. Esta propiedad es usado con los valores rotate.
  El valor hidden nos permite ocultar el reflejo*/
  backface-visibility: hidden;
  /*El valor absolute lo usamos para que los elementos se ubican en el mismo lugar*/
  position: absolute;
}

/*Se da medidas debido a que la imagen aún no tiene las medidas necesarias.*/

.card__image {
  width: 100%;
  height: 100%;
  /*El valor absolute lo usamos para que los elementos se ubican en el mismo lugar*/
  position: absolute;
}

.card__content {
  height: 100%;
  width: 100%;
  background: var(--color-blanco-opaco);
  backface-visibility: hidden;
  transform: rotateY(180deg);
  /*El valor absolute lo usamos para que los elementos se ubican en el mismo lugar*/
  position: absolute;
}

.card__title-container {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-verde-oscuro);
}

.card__title {
  color: var(--color-blanco-opaco);
}

.card__description {
  color: var(--color-plomo-oscuro);
  font-weight: bolder;
  text-align: center;
  margin-top: 1.25rem;
}

.card__button-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 40%;
}

.card__button {
  border-radius: 1.25rem;
  height: 3.125rem;
  padding: 0.625rem;
  background: var(--color-plomo-oscuro);
  color: var(--color-blanco-opaco);
  font-weight: bold;
  cursor: pointer;
}

.card__button:hover {
  background: var(--color-verde-claro);
}

@media screen and (max-width:48rem) {
  .card-container {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .p-description {
    /*Ocultamos las indicaciones*/
    display: none;
  }
  .card {
    /*Una altura máxima de 160px, que son 40px menos que en la vista para desktop*/
    max-height: 10rem;
  }
  .card__title-container {
    height: 25%;
  }
  .card__description {
    /*La descripción de cada proyecto dentro de la card*/
    display: none;
  }
  .card__button-container {
    /*Le damos una altura del 80% al contenedor de botones y los otros 20% se resta del titulo de cada card*/
    height: 75%;
    display: flex;
    /*Se cambia la dirección flex en columna*/
    flex-direction: column;
    /*Centramos en su eje Y*/
    align-items: center;
  }
  .card__button {
    /*Anchura de casi todo el contenedor padre*/
    width: 90%;
    padding: 0;
  }
}