.header {
  /*Para que ambos elementos de bloque estén en la misma línea */
  display: flex;
  background: var(--color-plomo-oscuro);
  /*Se establece una altura al header*/
  height: 5rem;
}

.header__logo-container {
  /*Para que el texto esté en el centro del contenido*/
  display: flex;
  justify-content: center;
  /*El otro 60% lo ocupará la barra de navegación*/
  width: 40%;
}

.header__logo-text {
  color: var(--color-blanco-opaco);
}

@media screen and (max-width:48rem) {
  .header__logo-container {
    /*El logo se enviá al inicio y se da un padding left de 20px*/
    justify-content: flex-start;
    padding-left: 20px;
  }
}