@import "../header.css";
.logo {
  /*Para que el texto esté en el centro del contenido*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*El otro 60% lo ocupará la barra de navegación*/
  width: 40%;
  color: var(--color-blanco-opaco);
  /*SE UTILIZA EL SHORT HAND DE FONT.
  EL PRIMER VALOR ES UN font-weight.
  El SEGUNDO VALOR ES UN font-size
  El último valor es un font-family;
  NOTA: El font-size y font-family son necesarios*/
  font: 600 24px var(--fuente-texto);
}

@media screen and (max-width:48rem) {
  .logo {
    /*El logo se enviá al inicio y se da un padding left de 20px*/
    justify-content: flex-start;
    padding-left: 1.25rem;
    /*Para que el menu list en responsive no tape el logo*/
    z-index: 2;
    /*Para que el hover de los menu list item no estén encima*/
    margin-bottom: 0.75rem;
  }
}