 .nav {
   width: 60%;
   display: flex;
   align-items: center;
 }

 .nav__list {
   display: flex;
   flex-direction: row;
   /*Ocupe todo el ancho que su contenedor padre*/
   width: 100%;
   list-style: none;
   /*Cada elemento hijo estará separado por espacios iguales*/
   justify-content: space-evenly;
 }

 /* .nav__list-item {
   display: flex;
   justify-content: center;
 } */

 .nav__list-link {
   color: var(--color-blanco-opaco);
   text-decoration: none;
 }

 .nav__list-link:hover {
   font-weight: bold;
   /*Al pasar el cursor por cada item se muestra una línea.
   Este shorthand de border representa primero al border-width de 2px
   Después, el border-style, que es requerido
   Por último, border-color pero como el enlace ya tiene el color blanco, no será necesario colocarlo.*/
   border-bottom: 0.125rem solid;
 }

 .button-hamburger {
   /*Se da el valor de none para quitar su espacio del flow del documento*/
   display: none;
   cursor: pointer;
   border: none;
   background: transparent;
 }

 /*se puso la clase br en referencia a las barras*/

 .br {
   /*Para que las barras aparezca una debajo de otro*/
   display: block;
   background: var(--color-blanco-opaco);
   height: 0.125rem;
   width: 1.25rem;
   /*Se coloca en margin arriba y abajo para se separen las barras*/
   margin: 0.375rem auto;
   border-radius: 0.125rem;
 }

 @media screen and (max-width:48rem) {
   .nav {
     /*Ocupar todo el alto y ancho del DOM*/
     height: 100vh;
     width: 100%;
     /*Sobreponerse sobre todos los elementos*/
     position: absolute;
   }
   .button-hamburger {
     /*Se muestra el botón y recupera su espacio en el flow del DOM*/
     display: block;
     /*Sobreponerse al position absolute del nav*/
     z-index: 2;
     /*Centramos en posición vertical*/
     align-self: center;
     /*Caso contrario al logo le damos un padding right de 2px*/
     padding-right: 1.25rem;
     /*Para que el hover de los menu list item no estén encima*/
     margin-bottom: 0.75rem;
   }
   .nav__list {
     /*Cambiamos la dirección por columna*/
     flex-direction: column;
     background: var(--color-verde-oscuro);
     /*Ocupará todo el alto del contenido padre*/
     height: 100%;
     /*Para crearle una animación se necesita darle un valor 0 en opacity y luego cambiarlo a un valor de 1*/
     opacity: 0;
   }
   .nav__list-item {
     display: flex;
     justify-content: center;
     align-items: center;
     /*Se da una altura de 45px para que el background al momento del hover se vea más alto*/
     height: 2.8125rem;
   }
   .nav__list-item:hover {
     background: var(--color-verde-claro);
   }
   .nav__list-link {
     font-weight: bolder;
   }
   .nav__list-link:hover {
     border: none;
   }
   .nav__list--activate {
     /*Mediante el método toggle se mostrará u ocultará la lista del nav.
     Se escogió el valor flex, porque al cambiar el flex-direcion en columna, se necesita que cada item esté abajo de otro.*/
     display: flex;
     /*En la propiedad animation se colocará los shorthands 
     animation-nave: muestraNav -> Nombre de la animación creada mediante al regla keyframes
     animation-duration:  350 milisegundos
     animation-timing-function: ease-in-out  -> La animación empezará rápido y terminará lento
     animation-fill-mode: both -> indica que opacity con 0 se va a mantener antes que empiece la animación y opacity con 1 se va mantener durante y después de terminar la animación
     */
     animation: muestraNav 350ms ease-in-out both;
   }
   /*ANIMACIÓN PARA CAMBIAR LAS BARRAS DEL BOTÓN HAMBURGER*/
   .br-1.animation {
     /*La primera barra tiene una rotación de -45 grados
     Translate sirve para que la primera barra forma la mitad de la x. El movimiento lo realiza dando un movimiento de -11px  en su eje x u horizontal*/
     transform: rotate(-45deg) translate(-0.6875rem);
   }
   .br-2.animation {
     /*La segunda barra no debe visualizarse*/
     opacity: 0;
   }
   .br-3.animation {
     /*La tercera barra tendrá un rotate de 45 grados*/
     /*El translate lo realiza dando un movimiento de -11px  en su eje x u horizontal*/
     transform: rotate(45deg) translate(-0.6875rem);
   }
   /***ANIMACIONES***/
   @keyframes muestraNav {
     from {
       opacity: 0;
     }
     to {
       opacity: 1;
     }
   }
 }