.sub-title {
  /*Se usa el shorthand de font, para ahorrar líneas de código
  font-variant: small-caps para poner el texto en mayúsculas
  font-weight: bold;
  font-size: 50px
  font-family: Es obligatorio y se puso el nombre de la fuente y no la variable porque no lo reconoce 
  */
  font: small-caps bold 3.125rem Raleway, Roboto;
  color: var(--color-plomo-oscuro);
}

.main-section {
  height: 100vh;
  padding-top: 6.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-description {
  /*Separación de margin-top con el sub-title y margin-bottom con el contenido*/
  margin: 1.5625rem 0;
  color: var(--color-plomo-oscuro);
  font: bold 1.125rem Raleway, Roboto;
  ;
}

.card-container {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}